<h2><%= model.username %></h2>
<br>
<% if model.about %>
    <p><%= model.about %></p>
<% end %>
<br>
<% if model.location %>
    <p><%= model.location %></p>
<% end %>
<br>
Joined: <%= model.created_at %>


